html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Space Mono', monospace;
}

#app {
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#content {
  position: absolute;
  z-index: 1;
}